extend main
block content
	script.
		var round = #{round};
		$(function() {
			setInterval(function(){
				$.ajax({
					url: '/round',
					success: function(data) {
						if (round != +data) {
							window.location.reload(true);
						}
					}
				});
			}, 1000);

			$('.price').each(function() {
				var n = +$(this).text();
				$(this).html("&pound;" + n.toLocaleString())
			})

			$('abbr.timeago').each(function () {
				$(this).text(new Date($(this).text()).toLocaleString())
			}).timeago();
		});
	if testing
		.alert.alert-info <span style='font-weight: bold'>Testing: </span> We're not actually bidding yet, just have a look around. You can press the bid/pass buttons.
	if err
		.alert.alert-error <span style='font-weight: bold'>Error:</span> #{err}
	block bidContent
	h2 Current Room Allocation
	table.table.table-bordered.table-hover
		thead
			tr
				th(rowspan="2") Room
				th(rowspan="2") Person
				th(colspan="3") Weekly Price
				th(colspan="3") Yearly Price
				if isTurn
					th(rowspan="2") Bid
			tr
				th No Stipend
				th Stipend*
				th Delta
				th No Stipend
				th Stipend*
				th Delta
		tbody
			each room, i in rooms
				tr(style=(players[player] === rooms[i].occupant?'color: purple':''))
					td(style="font-weight: bold") #{room.name}
					td #{room.occupant.name}
					td(class="price") #{room.price}
					td(class="price") #{room.price-104}
					td(class="price") #{room.price-250}
					td(class="price") #{room.price*52}
					td(class="price") #{room.price*52-5400}					
					td(class="price") #{(room.price-250)*52}
					if isTurn
						td
							if players[player] !== rooms[i].occupant
								a.btn.btn-primary(href='/bidUp/#{player}/#{i}/#{round}') Bid -&gt; <span class="price">#{room.price+3}</span>, <span class="price">#{(room.price+3)*52}</span> 
							else
								a.btn.btn-primary(href='/pass/#{player}/#{round}') Pass
	p * After 40% tax.
	p Each bid increase the price by <span class="price">3</span>/week which is <span class="price">#{3*52}</span>/year.
	p Bid on a room to swap rooms with the current occupant. Once 3 people pass, the bidding process ends.
	p The page will autorefresh when there is a change (checks once per second).

	h2 Bid History
	p From most recent to least recent.
	table.table.table-bordered.table-hover
		thead
			tr
				th Time
				th Person
				th Action
				th Ip Address
		tbody
			each bid in bidHistory
				tr
					td
						abbr.timeago(title="#{bid.time}") #{bid.time}
					td #{bid.player.name}
					if bid.type == 'bid'
						td Bid up #{bid.room.name} to <span class="price">#{bid.price}</span>
					else
						td Passed
					td
						abbr(title="#{bid.useragent}") #{bid.ip}

	h2 Floorplan
	img(src="http://i.imgur.com/KqwqgWv.jpg")
